# Server Environment Variables
PORT=5000
MONGODB_URI=mongodb+srv://your_user:your_password@cluster.mongodb.net/fable?retryWrites=true&w=majority
JWT_SECRET=
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
IMGBB_API_KEY=
CLIENT_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
